* {
    margin: 0px;
    padding: 0px;
}

root {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Michroma', sans-serif;
    font-family: 'Mukta Malar', sans-serif;
    font-family: 'Bungee Inline', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Antonio', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:  rgba(0, 0, 8, 0.911);
}
.barra-lateral-derecha {
    width: 100%;
    height: 700px;
    margin: 0px 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex-grow: -1;
    order: 0;
}
.somos {
    display: flex;
    writing-mode: vertical-lr;
    font-family: 'Mukta Malar', sans-serif;
    width: 17px;
    height: 110px;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.somos:hover{
    transform: scale(2.5);
}    
.work-space {
    display: flex;
    writing-mode: vertical-lr;
    font-family: 'Mukta Malar', sans-serif;
    width: 17px;
    height: 140px;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.work-space:hover{
    transform: scale(2.5);
}    
.contacto {
    display: flex;
    writing-mode: vertical-lr;
    font-family: 'Mukta Malar', sans-serif;
    width: 17px;
    height: 120px;
    color: whitesmoke;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.contacto:hover{
    transform: scale(2.5);
}    

.Caja-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 3;
    order: 0;
    width: 200px;
    height: 700px;
    margin: 20px 20px 20px 20px;
    background: rgba(30, 24, 43, 0.452);
}
a {
    text-decoration: none;
    color: whitesmoke;
}
.elemento1{
    width: 60%;
    height: 50px;
    font-size: 40px;
    letter-spacing: 8px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
.elemento1:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.elemento2{
    width: 50%;
    height: 43px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 15px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    text-align: center;
    font-family: 'Gugi', cursive;
}
.elemento2:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.elemento3{
    width: 30%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 25px;
    -webkit-text-fill-color: rgba(245, 245, 245, 0.959);
    text-align: center;
    font-family: 'Michroma', sans-serif;
}
.elemento3:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.elemento4{
    width: 50%;
    height: 40px;
    font-size: 40px;
    letter-spacing: 20px;
    font-weight: bold;
    -webkit-text-fill-color: rgba(245, 245, 245, 0.959);
    font-family: 'Fredericka the Great', cursive;
    text-align: center;

}
.elemento4:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.elemento5{
    width: 30%;
    height: 55px;
    font-size: 40px;
    letter-spacing: 20px;
    font-weight: bold;
    -webkit-text-fill-color: rgba(245, 245, 245, 0.959);
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
.elemento5:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.elemento6{
    width: 40%;
    height: 50px;
    font-size: 40px;
    letter-spacing: 20px;
    font-weight: bold;
    -webkit-text-fill-color: white;
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
.elemento6:hover {
    text-shadow: 0px 0px 10px rgba(245, 245, 245, 0.918),
                 0px 0px 20px rgba(245, 245, 245, 0.918),
                 0px 0px 30px rgba(245, 245, 245, 0.918),
                 0px 0px 40px rgba(245, 245, 245, 0.918);
                 transition: all .3s ease-in-out;
}
.end-line {
    display: flex;
    width: 100%;
    height: 1px;
    margin-top: 100px;
    background: whitesmoke; 
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 10px whitesmoke,
                0px 0px 20px whitesmoke,
                0px 0px 30px whitesmoke,
                0px 0px 40px whitesmoke,
                0px 0px 50px whitesmoke;
}

.pie-de-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 30px;
    font-size: 10px;
    color: whitesmoke;
    letter-spacing: 10px;
    font-family: 'Antonio', sans-serif;
    -webkit-box-reflect: below 1px linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.24));
}
